/*CSS for TFFB - DDL - drewlenhart.com*/

body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px; 
        padding-top: 15px;
        background-color:#DEDEDE;
}
h2{
	font-family: verdana, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	text-align:left;
	text-shadow: 1px 1px 3px #ffffff;
}
.wrapper{
	margin-left: 4%;
	margin-right: 4%;
	padding: 1%;
	background-color: grey;
	border-radius: 5px;
}
.navbar{
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}
.centerMe{
    text-align:center;   
}

.compImg {
    max-width:100%
}
